<template>
  <div>
    <footer>
      <div class="container-fluid">
        <div class="row bg-dark p-3 text-white">
          <div class="col">
            Copyright 2018
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>