<template>
  <div class="fixed-top shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-dark bg-orange p-1">
      <div class="container">
        <div class="navbar-collapse">
          <ul class="navbar-nav flex-row ml-auto justify-content-around">
            <li class="nav-item">
              <a href="#" class="nav-link">Daftar</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Masuk</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="bg-white p-4">
      <div class="container">
        <div class="row d-flex">
          <div class="col-lg-2">
            <img class="img-fluid" src="img/logo-billionairestore.png">
          </div>
          <div class="col-lg-8 align-items-center">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search..">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kategori <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <a href="#" class="btn btn-primary btn-block">
              <i class="fa fa-shopping-cart mr-1"></i> Keranjang
            </a>
          </div>
        </div>
      </div>      
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <b-nav-item to="/" router-tag="a" exact>Home</b-nav-item>
            <b-nav-item to="/example" router-tag="a" exact>Example</b-nav-item>
            <b-nav-item to="/employee" router-tag="a" exact>Employee</b-nav-item>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container py-lg-3">
        <a class="navbar-brand" href="#">
          <img src="assets/logo-billionairestore.png" width="200" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline d-none d-lg-block">
          <input class="form-control" type="text" placeholder="Search" width="100%">
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <b-nav-item to="/" router-tag="a" exact>Home</b-nav-item>
            <b-nav-item to="/example" router-tag="a" exact>Example</b-nav-item>
            <b-nav-item to="/employee" router-tag="a" exact>Employee</b-nav-item>
          </ul>
        </div>
      </div>
    </nav> -->
  </div>
</template>
