// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.content {
  margin-top: 15em;
  margin-bottom: 2.5em;
}

.top-bar {
  padding: 12px 0 11px;
  font-size: 14px;
  background-color: $orange;
}

.top-bar a {
  text-decoration: none;
  color: #eff0f4;
}

.top-bar a:hover {
  color: $white;
}

$fa-font-path: "/fonts";
@import "~font-awesome/scss/font-awesome";