<template>
  <div>
    <Header />
    <div class="content">
      <router-view />
    </div>    
    <Footer />
  </div>
</template>

<script>
import Header from './skins/Header.vue'
import Footer from './skins/Footer.vue'	

export default {
  components: {
		Header,
    Footer
	}
}
</script>