<template>
  <div>
    <div class="container" id="content">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Employe
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone</th>
                </tr>
                <tr v-for="models in model" :key="models.id">
                  <td>{{models.id}}</td>
                  <td>{{models.name}}</td>
                  <td>{{models.address}}</td>
                  <td>{{models.phone}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  export default{
    data() {
      return {
        model: {},
        search: '',
        url: 'api/employee'
      };
    },
    created:function(){
      this.fetchDataEmploye()
    },
    methods: {
      fetchDataEmploye(){
        let vm = this
        axios.get(`${this.url}`)
        .then(function(response){
          Vue.set(vm.$data, 'model', response.data.model.data)
        })
      }
    }
  }
</script>